<div class="statistics">
    <div class="users">
        <h2>Користувачі</h2>
        <p>Всього: <%= User.count %></p>
    </div>

    <div class="categories">
        <h2>Категорії</h2>
        <p>Всього: <%= Category.count %></p>
    </div>

    <div class="recipes">
        <h2>Рецепти</h2>
        <p>Всього: <%= Recipe.count %></p>
    </div>

    <div class="comments">
        <h2>Коментарі</h2>
        <p>Всього: <%= Comment.count %></p>
    </div>
</div>
